# <center> Renaming Columns & Splitting Time </center>

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
traffic_df = pd.read_csv('Resources/traffic_dirty.csv')
traffic_df.head()

,Unnamed: 0,address,issue_reported,latitude,location,longitude,published_date,traffic_report_id,traffic_report_status,traffic_report_status_date_time
0,0,5400 Brodie Ln,Accident/Collision,30.230326,"(30.2303264,-97.8199774)",-97.819977,2017-09-26T11:11:00.000,EC10DB9185C9C58A004FA683DD21AFCD16CAD418,ARCHIVED,2018-05-17T20:00:00.000
1,1,8800 Corran Ferry Dr,Accident/Collision,30.201610,"(30.2016097,-97.8530411)",-97.853041,2017-09-26T11:19:00.000,B25B748A59D8B6B5B5AE3E9D985289E795C874ED,ARCHIVED,2018-05-17T20:00:00.000
2,2,N Lamar Blvd Nb & Morrow St,Accident/Collision,30.343978,"(30.3439776,-97.7149716)",-97.714972,2017-09-26T11:55:00.000,B17F4787F2799F2665E5F119FC2F47D569212C4C,ARCHIVED,2018-05-17T20:00:00.000
3,3,11000 Fm 2222 Rd,Accident/Collision,30.396632,"(30.3966315,-97.8487281)",-97.848728,2017-09-26T12:08:00.000,15D1EE116284B85E5DE3E00564518367FE994DE7,ARCHIVED,2018-05-17T20:00:00.000
4,4,Mount Bonnell Rd & Tortuga Trl,Accident/Collision,30.339233,"(30.339233,-97.7779837)",-97.777984,2017-09-26T12:20:00.000,89CA91E6C9B28BDCFB629B12758F955D21072594,ARCHIVED,2018-05-17T20:00:00.000

In [3]:
incidates = traffic_df['published_date']

In [4]:
string = incidates[1]

In [5]:
string.split("T")[0]

'2017-09-26'

In [6]:
string.split("T")[1]

'11:19:00.000'

In [7]:
dandt = pd.DataFrame(traffic_df.published_date.str.split('T',1).tolist(), columns=['Date','Time'])
tonly = pd.DataFrame(dandt.Time.str.split('.',1).tolist(), columns=['Time','Microseconds'])
dandt.head()

         Date          Time
0  2017-09-26  11:11:00.000
1  2017-09-26  11:19:00.000
2  2017-09-26  11:55:00.000
3  2017-09-26  12:08:00.000
4  2017-09-26  12:20:00.000

In [8]:
tonly.head()

       Time Microseconds
0  11:11:00          000
1  11:19:00          000
2  11:55:00          000
3  12:08:00          000
4  12:20:00          000

In [9]:
dandt.Time = dandt.Time.str.split('.',1)
dandt.head()

         Date             Time
0  2017-09-26  [11:11:00, 000]
1  2017-09-26  [11:19:00, 000]
2  2017-09-26  [11:55:00, 000]
3  2017-09-26  [12:08:00, 000]
4  2017-09-26  [12:20:00, 000]

In [10]:
traffic_df.insert(10, 'Date', dandt.Date, allow_duplicates=True) # Inserting Date Only Column
traffic_df.insert(11, 'Time', tonly.Time, allow_duplicates=True) # Inserting Time Only Column
traffic_df = traffic_df.drop('Unnamed: 0', 1)                    # Deleting 'Unnamed: 0' Column

In [12]:
traffic_df.head()

,Address,Issue Reported,Latitude,Location,Longitude,Date Time Published,Traffic Report ID,Traffic Report Status (TRS),TRS Date Time,Date,Time
0,5400 Brodie Ln,Accident/Collision,30.230326,"(30.2303264,-97.8199774)",-97.819977,2017-09-26T11:11:00.000,EC10DB9185C9C58A004FA683DD21AFCD16CAD418,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,11:11:00
1,8800 Corran Ferry Dr,Accident/Collision,30.201610,"(30.2016097,-97.8530411)",-97.853041,2017-09-26T11:19:00.000,B25B748A59D8B6B5B5AE3E9D985289E795C874ED,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,11:19:00
2,N Lamar Blvd Nb & Morrow St,Accident/Collision,30.343978,"(30.3439776,-97.7149716)",-97.714972,2017-09-26T11:55:00.000,B17F4787F2799F2665E5F119FC2F47D569212C4C,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,11:55:00
3,11000 Fm 2222 Rd,Accident/Collision,30.396632,"(30.3966315,-97.8487281)",-97.848728,2017-09-26T12:08:00.000,15D1EE116284B85E5DE3E00564518367FE994DE7,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,12:08:00
4,Mount Bonnell Rd & Tortuga Trl,Accident/Collision,30.339233,"(30.339233,-97.7779837)",-97.777984,2017-09-26T12:20:00.000,89CA91E6C9B28BDCFB629B12758F955D21072594,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,12:20:00

In [13]:
traffic_df.to_csv('Resources/traffic (main).csv')