# <center> Heat Map </center>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import gmaps.datasets
from config import gkey

In [2]:
traffic_df = pd.read_csv('Resources/traffic (main).csv')
traffic_df.head()

,Unnamed: 0,Address,Issue Reported,Latitude,Location,Longitude,Date Time Published,Traffic Report ID,Traffic Report Status (TRS),TRS Date Time,Date,Time
0,0,5400 Brodie Ln,Accident/Collision,30.230326,"(30.2303264,-97.8199774)",-97.819977,2017-09-26T11:11:00.000,EC10DB9185C9C58A004FA683DD21AFCD16CAD418,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,11:11:00
1,1,8800 Corran Ferry Dr,Accident/Collision,30.201610,"(30.2016097,-97.8530411)",-97.853041,2017-09-26T11:19:00.000,B25B748A59D8B6B5B5AE3E9D985289E795C874ED,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,11:19:00
2,2,N Lamar Blvd Nb & Morrow St,Accident/Collision,30.343978,"(30.3439776,-97.7149716)",-97.714972,2017-09-26T11:55:00.000,B17F4787F2799F2665E5F119FC2F47D569212C4C,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,11:55:00
3,3,11000 Fm 2222 Rd,Accident/Collision,30.396632,"(30.3966315,-97.8487281)",-97.848728,2017-09-26T12:08:00.000,15D1EE116284B85E5DE3E00564518367FE994DE7,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,12:08:00
4,4,Mount Bonnell Rd & Tortuga Trl,Accident/Collision,30.339233,"(30.339233,-97.7779837)",-97.777984,2017-09-26T12:20:00.000,89CA91E6C9B28BDCFB629B12758F955D21072594,ARCHIVED,2018-05-17T20:00:00.000,2017-09-26,12:20:00

In [3]:
# -------------------------------- HEAT MAP DATA AND PLOTTING -------------------------------------
# Creating a dataframe of the coordinates of each crash
traffic_lats = traffic_df['Latitude']
traffic_lngs = traffic_df['Longitude']
coords_df = pd.DataFrame({'Latitude': traffic_lats,
                           'Longitude': traffic_lngs}, dtype= float)

# Some values in the latitude column were missing their decimal point, so we had to add it:

coords_df.loc[coords_df['Latitude'] == 29880130.0, 'Latitude'] = 29.8801300
coords_df.loc[coords_df['Latitude'] == 29804156.0, 'Latitude'] = 29.8041560
coords_df.loc[coords_df['Latitude'] == 29932409.0, 'Latitude'] = 29.9324090

# Show dataframe
coords_df.head()

    Latitude  Longitude
0  30.230326 -97.819977
1  30.201610 -97.853041
2  30.343978 -97.714972
3  30.396632 -97.848728
4  30.339233 -97.777984

In [4]:
# Creating the base map
gmaps.configure(api_key= gkey)
fig = gmaps.figure()
traffic_coords = (30.2672, -97.7431)
fig = gmaps.figure(center=traffic_coords, zoom_level=12, map_type='ROADMAP')

# Adding the "heat" layer and zooming capabilities 
heatmap_layer = gmaps.heatmap_layer(coords_df) 
fig.add_layer(heatmap_layer)
heatmap_layer.max_intensity = 30 #prevents ind. pts from disappearing when zooming in
heatmap_layer.point_radius = 12 #this needs to be a low value to counteract the intensity

#gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
fig

Figure(layout=FigureLayout(height='420px'))